.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    /*background: linear-gradient(109.04deg, #1e282a 0%, rgba(49, 83, 89, 0.92) 100%);*/
    background: linear-gradient(109.04deg, #00171F 0%, rgba(25, 25, 35, 0.92) 100%);
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
}

.App-no-auth {
    min-height: 100vh;
}

.left-rectangle {
    width: 300.7px;
    height: 700.59px;
    left: -180.47px;
    top: -150px;
    background: rgba(20, 27, 30, 0.36);
    transform: rotate(50.24deg);
    position: absolute;
}

.right-rectangle {
    position: absolute;
    width: 500.9px;
    height: 500.55px;
    right: -300px;
    bottom: 300px;

    background: rgba(60, 71, 71, 0.48);
    transform: rotate(-52.34deg);
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
